<!-- Start of TCW Global Footer Code -->
              </td> 
            </tr>
            <tr>
              <td>
                <script type="text/javascript"> TCW_IDXFooter();</script>
              </td>
            </tr>
          </table> <!-- TCW-IDX-content -->
          <table id=TCW-Customization>
            <tr>
              <td>
                <div class="TCW_CustomizationLink">
                  Copyright © 2005-2009 The Z&diams;House Realty Group
                </div>
              </td>
            <tr>
            <tr>
              <td>
                <div class="TCW_CustomizationLink">
                    IDX Customization by<br/>
                    Janice M. Ziesig and Donald R. Ziesig<br/>
                    <a href="http://www.thecustomizedwebsite.com">www.TheCustomizedWebsite.com</a><br><br>
					verified with the following browsers
              <br />
              <a href="http://www.customizewebsite.com//html/knownissues.html">known issues</a>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <iframe src="http://customizewebsite.com/Carol1/Html/BrowserBar.htm" width="950px" height="70px" frameborder="0" scrolling="no" ></iframe>
              </td>
            </tr>
            <tr>
              <td>
                <div class="TCW_IDXLoginLink">
                  <a href="http://www.orlandohomeconnection.idxco.com/mgmt/linkgen.php">Login</a>
                </div>
              </td>
            </tr>
          </table> <!-- TCW-Customization -->
        </td>
      </tr>
    </table> <!-- id="IDX-main-content" -->
  </body>
</html>
<!-- Carol Ziesig -->
<!-- End of TCW Global Footer Code -->
